{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}

	<h1>{{ article.title }}</h1>

	<h2>Catégorie :
		{{ article.category.name }}</h2>

	<div>
		{% for tag in article.tags %}
			<div class="badge bg-primary">
				{{ tag.name }}
			</div>
		{% endfor %}
	</div>

	<p>
		{{ article.content }}
	</p>

{% endblock %}
